body {
 background-color: rgb(253, 251, 251);
}

header {
  display: fixed;
  top: 0px;
}

img {
  width: 20%;
}

h1 {
  font-size: 50px;
  color: blueviolet;
}

ul {
   display: block;
}

#artigo  {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  line-height: 10mm;
}
